.container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 16px;

  border-radius: 50px;
  background: #2c3639;
  box-shadow: inset 2px 2px 3px #252e30, inset -2px -2px 3px #333e42;

  input {
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    width: 256px;
  }
}

@mixin fix {
  color: var(--secondary);
  font-size: 28px;
  font-weight: bold;
  margin: 0 4px;
}

.prefix {
  @include fix;
}

.postfix {
  @include fix;
}
