@import '@/styles/mixins/neumorphism';

.container {
  @include neumorphism(true);
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 16px;
  border-radius: 50px;

  input {
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    max-width: 256px;
  }
}

.fix {
  color: var(--secondary);
  font-size: 28px;
  font-weight: bold;
  margin: 0 4px;
}
