@import '@/styles/mixins/neumorphism';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  b {
    background-color: var(--highlight);
    box-shadow: 0 0 0 0.5px var(--background) inset;
    border-radius: 4px;
    padding-bottom: 2px;
  }
}

.questions {
  display: flex;
}

.question {
  @include neumorphism;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 64px;
  border-radius: 8px;
  margin: 16px;
}
