@import '@/styles/mixins/neumorphism';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.message {
  height: 24px;
  margin: 16px;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

.prev,
.next {
  @include neumorphism;
  position: absolute;
  background: none;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  svg {
    fill: var(--primary);
  }
}

.prev {
  left: 96px;
}

.next {
  right: 96px;
}

@media (max-width: 800px) {
  .prev,
  .next {
    bottom: 24px;
  }

  .prev {
    left: 24px;
  }

  .next {
    right: 24px;
  }
}
