.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.message {
  height: 24px;
  margin: 16px;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}
