:root {
  --background: #2c3639;

  --tertiary: #3f4e4f;

  --text: #dcd7c9;
  --flag: #a27b5c;
  --question: #dff6ee;
  --highlight: #7f6497;

  --hint: #FFD369;

  --error: #b25068;
  --success: #4E9F3D;
}
