html {
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Fira Mono', monospace;
  color: var(--text);
}

input {
  font-family: 'Fira Mono', monospace;
  background-color: transparent;
  color: var(--text);
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}
