@import '@/styles/mixins/neumorphism';

.container {
  position: absolute;
  display: flex;
  align-items: center;
  right: 48px;
  bottom: 48px;
  height: 56px;
  width: 56px;
  padding: 8px;
  border: none;
  border-radius: 28px;
  @include neumorphism;

  svg {
    fill: var(--hint);
    transform: scale(0.8);
  }
}

.inset {
  @include neumorphism(inset);
}
