@import '@/styles/mixins/neumorphism';

.container {
  @include neumorphism;
  position: absolute;
  display: flex;
  align-items: center;
  height: 64px;
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 5%;

  a {
    display: flex;
    svg {
      fill: var(--primary);
    }
  }
}


.title {
  margin: 0 32px;
  font-size: 18px;
}
