@import '@/styles/mixins/neumorphism';

.container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.content {
  @include neumorphism;
  left: 50%;
  bottom: -36px;
  transform: translateX(-50%);
  padding: 36px;
  position: absolute;
  width: 244px;
  height: 244px;
  border-radius: 48px;
  animation: fade-in 0.3s ease-in;
  color: var(--text);

  & > * {
    color: inherit;
  }
}

.unmount {
  animation: fade-out 0.3s ease-out;
  box-shadow: unset;
  color: rgba(0, 0, 0, 0);
}

@keyframes fade-in {
  0% {
    box-shadow: unset;
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    @include neumorphism;
    color: var(--text);
  }
}

@keyframes fade-out {
  0% {
    @include neumorphism;
    color: var(--text);
  }
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: unset;
    color: rgba(0, 0, 0, 0);
  }
}
